body{
  background-color: grey;
}

h1{
  font-size: 4rem;
  color: white;
  text-align: center;
}

#turn {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

h2{
  color: white;
  margin: 2em;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

#player1, #player2{
  margin: 0 2em;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.boardSquare{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px blue;
  background-color: black;
  transition: 0.1s ease-in;
  color: white;
}

.boardSquare p {
  color: white;
}

.boardSquare:hover{
  cursor: pointer;
  background-color: rgb(201, 185, 160);
}